@charset "UTF-8";

* {
    margin: 0px; /*Configuração geral*/
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

html, body {
    height: 100vh;
    width: 100vw;
    background-color: black;    
}

body {
    background: url("../imagens/fundo-madeira.jpg") no-repeat top center; /*Imagem de fundo, onde está configurado para não repetir e que o ponto de foco de imagem seja do topo ao centro*/
    background-size: cover;
    background-attachment: fixed; /*Evita rolagem na imagem de fundo*/
}

main {
    position: relative; /*Para que possa ser manipulado a section telefone para o centro, o main deve ser relativo e o section absoluto*/
    height: 100vh;  
}

section#telefone {
    position: absolute; /*Configurações do frame iphone*/
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    height: 627px;
    width: 311px;
    background: url(../imagens/frame-iphone.png) no-repeat;

}

iframe#tela { /*Configuração de ajuste do iframe home, faz com que o conteúdo da página home fique enquadrado dentro de section telefone*/
    position: relative;
    top: 81px;
    left: 23px;
    width: 266px;
    height: 469px;
}

section#redes-sociais {
    text-align: right; /*Faz com que as imagens das redes sociais fiquem do lado direiro da tela*/
}

section#redes-sociais img { /*Configurações dos links das redes sociais da section redes-sociais*/
    width: 50px;
    height: 50px;
    margin: 10px;/*Cria uma margem que distancia uma imagem da outra*/
    border-radius: 50%;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.481);
    box-sizing: border-box;
}

section#redes-sociais img:hover {
    border: 2px solid rgba(255, 255, 255, 0.642);
    transform: translate(-5px, -5px);/*Faz com que ao passar o mouse por cima, a imagem vá um pouco para frente, se o número de dentro do parenteses for positivo, a imagem irá para traz ao passar o mouse*/
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.642);
    transition: transform 0.5s, border 0.8s; /*Configura o tempo que as configurações acima serão ativadas ao passar o mouse.*/

}